@using Softinn.EntityModels.ViewModel
@using EmbunLuxuryVillas.Helpers

@{
    ViewBag.MetaTitle = $"Meetings & Events - {ViewBag.ViewModel.Hotel.DisplayName}";
    List<MiceViewModel> mices = ViewBag.ViewModel.Mices;
}

<section class="section-sub-banner bg-4">
    <div class="awe-overlay"></div>
    <div class="sub-banner">
        <div class="container">
            <div class="text text-center">
                <h2>Meetings & Events</h2>
            </div>
        </div>
    </div>
</section>

<section class="section-promotion">
    <div class="container">
        @if (mices.Any())
        {
            <div class="row">
                @foreach (var mice in mices)
                {
                    <div class="col-md-4">
                        <div class="cms-promotion promotion-box">
                            <div class="img">
                                <img src="@BvHelper.GetImageLinkFromStorage(mice.Photos.FirstOrDefault().URLStorage)" />
                            </div>
                            <div class="title-wrapper">
                                <div class="title">
                                    <h2>@mice.Name</h2>
                                    <a href="/MeetingEvents/Detail/@mice.Name.ToSeoFriendly()" class="awe-btn awe-btn-13">View Details</a>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </div>
        }
    </div>
</section>

@section css{
    <link href="~/css/promotion.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css">
}

@section scripts{
    <script src="~/Scripts/promotion.js"></script>
}