/*#region VARIABLES*/
$main-theme-color: #8DC53E;
$secondary-theme-color: #5A920B;
/*#endregion*/

/*#region FOR MOBILE (MOBILE FIRST)*/
#header {
    .header_logo {
        img {
            height: 70px;
            max-height: 70px;
        }
    }

    .header_mobile {
        .header_menu {
            ul {
                li {
                    .sub-menu {
                        background-color: $secondary-theme-color;
                    }
                }
            }
        }
    }
}

#page-home {
    .section-slider {
        max-height: 568px !important;

        .slider-revolution {
            &.show-xs {
                display: block !important;
            }

            &.show-sm {
                display: none !important;
            }

            &.show-md {
                display: none !important;
            }

            &.show-lg {
                display: none !important;
            }

            ul {
                .slider-hotel-logo {
                    min-width: 110px;
                    min-height: 110px;
                }

                .slider-hotel-name {
                    color: #fff;
                    text-transform: uppercase;
                    font-size: 18px !important;
                    line-height: 1;
                    display: inline-block;
                }

                .slider-subtitle {
                    text-transform: capitalize;
                    color: #fff;
                    font-size: 24px !important;
                    font-family: Montserrat;
                }

                .slider-button {
                    min-width: 180px !important;
                    min-height: 36px !important;
                    line-height: 18px !important;
                    padding: 10px 20px !important;
                    font-size: 12px !important;
                    font-family: Montserrat;
                    border-width: 2px !important;
                }
            }

            .tp-revslider-slidesli {
                .slotholder {
                    ::before {
                        position: absolute;
                        top: 0;
                        left: 0;
                        right: 0;
                        bottom: 0;
                        content: "";
                        background-color: rgba(0, 0, 0, 0.3);
                    }
                }
            }
        }
    }

    .section-check-availability {
        h2 {
            padding-left: 0px;
        }
    }

    .section-accomd {
        background-color: #f9f9f9;

        .accomd-modations-room {
            border: $main-theme-color solid 2px;

            img {
                height: 290px;
                object-fit: cover;
            }
        }
    }

    .home-about {
        .img {
            img {
                height: 300px;
                object-fit: cover;
            }
        }
    }

    .section-testimonial {
        .apostrophe {
            font-family: 'Montserrat';
            font-size: 40px;
            padding-right: 10px;
            top: 12px;
            position: relative;

            &:after {
                content: '“';
            }
        }

        .guestbook-item {
            .testimonial {
                overflow: hidden;
                padding-top: 10px;
                padding-left: 20px;

                p {
                    color: #ffffff;
                    line-height: 1.4em;
                    font-size: 15px;
                    position: relative;
                    margin-bottom: 15px;

                    &:after {
                        font-family: 'Montserrat';
                        content: '„';
                        font-size: 40px;
                        line-height: 0;
                        margin-left: 10px;
                    }

                    span {
                        color: #ffffff;
                        display: unset;
                        width: 100%;
                    }
                }

                span {
                    color: #ffffff;
                    display: inline-block;
                    width: 100%;

                    strong {
                        font-size: 20px;
                    }
                }
            }
        }
    }

    .news-item {
        img {
            height: 140px;
            object-fit: cover;
        }
    }
}

#page-our-story {
    .about-item {
        .img {
            img {
                height: auto;
                min-height: 225px;
                object-fit: cover;
            }
        }
    }
}

#page-room-index {
    .room_item-1 {
        .img {
            img {
                height: 290px;
                object-fit: cover;
            }
        }
    }
}

#page-room-detail {
    .room-detail_img {
        .room_img-item {
            img {
                height: auto;
                max-height: 550px;
                object-fit: cover;
            }
        }
    }

    .room-detail_thumbs {
        a {
            img {
                height: 76px;
                object-fit: cover;
            }
        }
    }

    .room-compare_item {
        .img {
            img {
                height: 170px;
                object-fit: cover;
            }
        }
    }
}

#page-attractions-index {
    .activiti_item {
        img {
            height: 230px;
            object-fit: cover;
        }
    }
}

.section-inquiry {
    background-color: #fff;
    padding-top: 45px;
    padding-bottom: 85px;

    .inquiry {
        .contact-form {

            .col-centered {
                float: none;
                margin: 0 auto;
            }

            .deco {
                text-decoration: underline;
                font-size: 13px;
                padding-top: 5px;
            }

            .color-black-border {
                border: 1px solid black;
                color: black;
            }

            .field-text, .field-textarea {
                border: 2px solid #232323;
                width: 100%;
                margin-top: 0px;
                color: #232323;
                -webkit-transition: all .3s ease;
                -moz-transition: all .3s ease;
                -ms-transition: all .3s ease;
                -o-transition: all .3s ease;
            }

            .inquirybutton {
                left: 0px;
                top: 0px;
                width: 200px;
                height: 48px;
                background: inherit;
                background-color: $main-theme-color;
                box-sizing: border-box;
                border-width: 2px;
                border-style: solid;
                border-color: $main-theme-color;
                border-radius: 0px;
                -moz-box-shadow: none;
                -webkit-box-shadow: none;
                box-shadow: none;
                font-family: 'Montserrat';
                font-weight: 400;
                font-style: normal;
                font-size: 15px;
                color: white;
                margin-top: 20px;
                width: 100%;
                padding-top: 12px;
                padding-bottom: 12px;

                &:hover {
                    color: $main-theme-color;
                    border-color: $main-theme-color;
                    background-color: white;
                }
            }
        }
    }
}

#page-reservation {
    .booking-subtitle {
        p {
            font-family: 'Montserrat Bold', 'Montserrat Regular', 'Montserrat';
            font-weight: 700;
            font-style: normal;
            font-size: 20px;
            color: #232323;
            text-align: center;
            margin-bottom: 20px;
        }
    }

    .iframe-booking {
        width: 100%;
        min-height: 920px;
        padding-top: 50px;
        padding-bottom: 100px;
    }

    .softinn-booking-engine {
        width: 100%;
    }
}

#page-photos-index {
    .gallery_item {
        img {
            height: 160px;
            object-fit: cover;
        }
    }
}

#page-contact-us {
    .section-contact {
        .contact-icon {
            color: $main-theme-color;
            font-size: 20px;
            margin-right: 20px;
            vertical-align: middle;
        }

        .divider-line {
            background: $main-theme-color;
            display: inline-block;
            width: 480px;
            height: 1px;
        }

        .contact {
            .text {
                .chgfont {
                    p {
                        font-family: 'Montserrat Bold', 'Montserrat Regular', 'Montserrat';
                        font-weight: 700;
                        font-style: normal;
                        font-size: 16px;
                        color: #232323;
                        text-align: left;
                    }
                }
            }
        }

        .ghostbutton {
            left: 0px;
            top: 0px;
            width: 200px;
            height: 48px;
            background: inherit;
            background-color: rgba(255, 255, 255, 1);
            box-sizing: border-box;
            border-width: 2px;
            border-style: solid;
            border-color: rgba(46, 46, 46, 1);
            border-radius: 0px;
            -moz-box-shadow: none;
            -webkit-box-shadow: none;
            box-shadow: none;
            font-family: 'Montserrat';
            font-weight: 400;
            font-style: normal;
            font-size: 15px;
            color: #2E2E2E;
            margin-top: 20px;
            width: 200px;
            padding-top: 12px;
            padding-bottom: 12px;
        }
    }

    .contact-map {
        height: 470px;
        margin-bottom: 50px;
    }

    .map {
        .text {
            h2 {
                padding-bottom: 10px;
            }
        }
    }
}

#footer {
    background-color: #232323;

    .footer_top {
        background-color: #2e2e2e;
        padding: 20px 0;

        .mailchimp {
            h4 {
                font-size: 17px;
                text-transform: inherit;
                line-height: 38px;
                font-weight: 400;
                color: #fff;

                &:before {
                    content: "\f087";
                }
            }

            .mailchimp-form {
                text-align: right;

                .awe-btn {
                    text-transform: inherit;
                    padding-left: 15px;
                    padding-right: 15px;
                    margin-right: 0px;
                    font-family: 'Montserrat';
                    font-weight: 400;
                    font-style: normal;
                    font-size: 15px;
                    color: #FFFFFF;
                    position: relative;
                }
            }

            .button-container {
                padding-right: 0;
            }
        }

        .social {
            .social-content {
                text-align: center;

                a {
                    &:last-child {
                        margin-right: 0;
                    }
                }
            }
        }
    }

    .mailchimp {
        p {
            display: inline-block;
            font-family: 'Montserrat';
            margin: 0;
            color: #fff;
            font-size: 18px;
            vertical-align: middle;
            margin-right: 10px;
            line-height: 88px;

            &:before {
                content: "\f00c";
                padding: 10px;
                color: $main-theme-color;
                margin-right: 5px;
                font-family: 'FontAwesome';
                -webkit-border-radius: 100%;
                -moz-border-radius: 100%;
                border-radius: 100%;
            }
        }
    }

    .payment_method {
        background: #FFFFFF;
        display: flex;
        align-items: center;
        height: auto;
        padding: 30px 0;

        .container {
            margin: auto;

            div {
                display: block;
                text-align: center;
                margin: 10px 0;
            }
        }

        p {
            font-size: 16px;
            font-weight: 700;
            margin-right: 0;
            margin-bottom: 15px;
        }

        ul {
            list-style-type: none;
            padding: 0;
            margin: 0;

            li {
                display: inline-block;
                margin-top: 10px;

                &:last-child {
                    display: block;
                    margin-top: 20px;
                }

                img {
                    width: 82px;
                    height: auto;
                    margin-right: 4px;
                }
            }
        }
    }

    .footer_center {
        border-top: 0px;
        background-color: #232323;
        color: #ffffff;

        .widget-logo {
            .text {
                p {
                    color: #acacac;

                    i {
                        color: #ffffff;
                    }

                    a {
                        color: #acacac;
                    }
                }
            }

            .img {
                margin-bottom: 50px !important;
            }
        }

        .widget {
            .widget-title {
                color: #ffffff;
            }

            ul {
                li {
                    a {
                        color: #acacac;
                    }
                }
            }
        }
    }

    .footer_bottom {
        background-color: #101010;
        color: #acacac;

        .poweredBy {
            color: $main-theme-color;

            &:hover {
                color: #acacac;
            }
        }
    }
}

.owl-controls {
    .owl-prev, .owl-next {
        line-height: 34px;
    }
}

.mfp-wrap {
    .mfp-content {
        .mfp-figure {
            .mfp-img {
                padding: 0;
            }
        }
    }
}

/*#endregion*/

/*#region FOR TABLETS */
@media screen and (min-width: 768px) {
    #page-home {
        .section-slider {
            max-height: 988px !important;

            .slider-revolution {
                &.show-xs {
                    display: none !important;
                }

                &.show-sm {
                    display: block !important;
                }

                &.show-md {
                    display: none !important;
                }

                &.show-lg {
                    display: none !important;
                }

                ul {
                    .slider-hotel-logo {
                        min-width: 120px;
                        min-height: 120px;
                    }

                    .slider-hotel-name {
                        font-size: 24px !important;
                    }

                    .slider-subtitle {
                        font-size: 42px !important;
                    }

                    .slider-button {
                        min-width: 220px !important;
                        min-height: 42px !important;
                        line-height: 18px !important;
                        padding: 10px 30px !important;
                        font-size: 14px !important;
                    }
                }
            }
        }
    }

    #page-our-story {
        .about-item {
            .img {
                img {
                    min-height: 390px;
                }
            }
        }
    }
}
/*#endregion*/

/*#region FOR SMALL LAPTOPS */
@media screen and (min-width: 992px) {
    #page-home {
        .section-slider {
            max-height: 732px !important;

            .slider-revolution {
                &.show-xs {
                    display: none !important;
                }

                &.show-sm {
                    display: none !important;
                }

                &.show-md {
                    display: block !important;
                }

                &.show-lg {
                    display: none !important;
                }

                ul {
                    .slider-hotel-logo {
                        min-width: 120px;
                        min-height: 120px;
                    }

                    .slider-hotel-name {
                        font-size: 24px !important;
                    }

                    .slider-subtitle {
                        font-size: 42px !important;
                    }

                    .slider-button {
                        min-width: 220px !important;
                        min-height: 42px !important;
                        line-height: 18px !important;
                        padding: 10px 30px !important;
                        font-size: 14px !important;
                    }
                }
            }
        }

        .section-check-availability {
            h2 {
                padding-left: 60px;
            }
        }
    }
}
/*#endregion*/

/*#region FOR LARGE SCREENS */
@media screen and (min-width: 1200px) {
    #page-home {
        .section-slider {
            max-height: 933px !important;

            .slider-revolution {
                &.show-xs {
                    display: none !important;
                }

                &.show-sm {
                    display: none !important;
                }

                &.show-md {
                    display: none !important;
                }

                &.show-lg {
                    display: block !important;
                }

                ul {
                    .slider-hotel-logo {
                        min-width: 120px;
                        min-height: 120px;
                    }

                    .slider-hotel-name {
                        font-size: 30px !important;
                    }

                    .slider-subtitle {
                        font-size: 60px !important;
                    }

                    .slider-button {
                        min-width: 220px !important;
                        min-height: 42px !important;
                        line-height: 18px !important;
                        padding: 10px 30px !important;
                        font-size: 14px !important;
                    }
                }
            }
        }
    }

    #footer {
        .payment_method {
            padding: 20px 0;
            height: 90px;

            .container {
                margin: auto;

                div {
                    display: inline-flex;
                    align-items: center;
                    justify-content: space-between;
                    width: 100%;
                    margin: 0;
                }
            }

            p {
                margin-bottom: 0;
                margin-right: 10px;
            }

            ul {
                li {
                    margin-top: 0px;

                    &:last-child {
                        display: inline-block;
                        margin-top: 10px;
                    }
                }
            }
        }
    }
}
/*#endregion*/

.entry-content img {
    max-width: 100% !important;
}