@using Softinn.EntityModels.ViewModel
@{
    List<PhotoViewModel> photos = ViewBag.ViewModel.Photos;
    HotelViewModel hotel = ViewBag.ViewModel.Hotel;

    var sliderPhotos = photos.Where(p => p.PhotoType.Name == Softinn.EntityModels.AppSettings.PhotoType_HomePageSlider).OrderBy(p => p.Number);
}

<div id="page-our-story">

    <section class="section-sub-banner bg-1">
        <div class="awe-overlay"></div>
        <div class="sub-banner">
            <div class="container">
                <div class="text text-center">
                    <h2>The Villas & Suite</h2>
                </div>
            </div>
        </div>
    </section>

    <section class="section-about">
        <div class="container">
            <div class="about margin-top-15px">
                <div class="about-item">
                    <div class="img owl-single">
                        @foreach (var photo in sliderPhotos)
                        {
                            <img src="//softinnstorage.blob.core.windows.net@(photo.URLStorage)" alt="Hotel">
                        }
                    </div>
                    <div class="text">
                        <h2 class="heading">The Villas & Suite</h2>
                        <div class="desc">
                            <p style="text-align: justify;">
                                The rooms at Embun Luxury Villas is made up of seven pool villas and one suite, each unit built to ensure privacy and comfort.
                                All villas and suite are furnished with a sense of understated luxury with their own expansive separate living area, fully equipped kitchen with microwave and fridge.
                                All rooms feature spacious en-suite marble bathrooms with upscale designer fittings and units have separate guest toilets and decorations personally curated by the owner, ensuring each villa and suite has its own unique features.
                                Should you wish to step outside the comfort of your own villa, all guests also have easy access to the infinity pool situated by the Clubhouse where lazy drinks and luscious meals can be enjoyed.
                            </p>
                            <p style="text-align: justify;">
                                Even at full capacity, with only a total of 14 you are assured of a truly intimate and wonderful relaxing experience.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
