@using Softinn.EntityModels.ViewModel
@{
    List<PhotoViewModel> photos = ViewBag.ViewModel.Photos;
    HotelViewModel hotel = ViewBag.ViewModel.Hotel;

    var sliderPhotos = photos.Where(p => p.PhotoType.Name == Softinn.EntityModels.AppSettings.PhotoType_HomePageSlider).OrderBy(p => p.Number);
}

<div id="page-our-story">

    <section class="section-sub-banner bg-1">
        <div class="awe-overlay"></div>
        <div class="sub-banner">
            <div class="container">
                <div class="text text-center">
                    <h2>Aktiviti/Fasiliti</h2>
                </div>
            </div>
        </div>
    </section>

    <section class="section-facilities">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-sm-12 col-xs-12 facility">
                    <div class="facility-item">
                        <div class="heading text-uppercase">
                            Kolam Air Panas Semula Jadi – Pengalaman Relaksasi &amp; Kesihatan Menyeluruh
                        </div>
                    </div>
                </div>

                <div class="col-lg-6 col-sm-12 col-xs-12 facility">
                    <div class="facility-item">
                        <div class="img owl-single">
                            <img src="~/images/hot-spring/kolam-air-panas-1.png" alt="Hotel">
                            <img src="~/images/hot-spring/kolam-air-panas-2.png" alt="Hotel">
                            <img src="~/images/hot-spring/kolam-air-panas-3.png" alt="Hotel">
                        </div>
                    </div>
                </div>

                <div class="col-lg-6 col-sm-12 col-xs-12 facility">
                    <div class="facility-item">
                        <div class="text">
                            <p class="desc">
                                Nikmati keajaiban <b>air panas semula jadi</b> yang bukan sahaja menyegarkan badan tetapi juga membantu meningkatkan kesejahteraan mental dan fizikal.
                                Kolam kami menawarkan lebih daripada sekadar terapi air panas – kami menyediakan pengalaman lengkap untuk pemulihan dan ketenangan diri.
                            </p>
                            <p class="desc">
                                <b>&#127807; Perkhidmatan & Aktiviti Kesihatan</b><br />
                                <ul class="custom-bullet">
                                    <li>
                                        <b>Rawatan Air Panas Semula Jadi</b> – Melegakan ketegangan otot &amp; meningkatkan peredaran darah
                                    </li>
                                    <li>
                                        <b>Yoga & Meditasi</b> – Meningkatkan keseimbangan mental dan ketenangan jiwa
                                    </li>
                                    <li>
                                        <b>Terapi Tubuh</b> – Teknik rawatan untuk kesihatan yang lebih baik
                                    </li>
                                    <li>
                                        <b>Aktiviti Kesihatan</b> – Program khas untuk mengukuhkan kecergasan dan ketahanan badan
                                    </li>
                                </ul>
                            </p>
                        </div>
                    </div>
                </div>

                <div class="col-lg-12 col-sm-12 col-xs-12 facility">
                    <div class="facility-item">
                        <div class="heading text-uppercase p-2">Kolam Kanak-Kanak di Gadek Hotspring Wellness &amp; Spa Resort! &#127946;&#128103;&#129490;</div>
                    </div>
                </div>

                <div class="col-lg-6 col-sm-12 col-xs-12 facility">
                    <div class="facility-item">
                        <div class="img owl-single">
                            <img src="~/images/pool/kolam-kanak-1.png" alt="Hotel">
                            <img src="~/images/pool/kolam-kanak-2.png" alt="Hotel">
                            <img src="~/images/pool/kolam-kanak-3.png" alt="Hotel">
                        </div>
                    </div>
                </div>

                <div class="col-lg-6 col-sm-12 col-xs-12 facility">
                    <div class="facility-item">
                        <div class="text">
                            <p class="desc">
                                Bawa si kecil anda menikmati keseronokan di <b>Kolam Kanak-Kanak</b> kami di <b>Gadek Hotspring Wellness &amp; Spa Resort!</b> Tempat yang selamat, menyeronokkan dan direka khas untuk kegembiraan anak-anak anda.
                            </p>
                            <p class="desc">
                                <b>&#10024; Kenapa Kolam Kanak-Kanak Kami Istimewa &#10024;</b><br />
                                <ul class="custom-bullet">
                                    <li>
                                        <b>Air Suam Semula Jadi</b> – Memberi keselesaan &amp; keseronokan sepanjang hari
                                    </li>
                                    <li>
                                        <b>Rekaan Selamat & Mesra Kanak-Kanak</b> – Kedalaman sesuai untuk kanak-kanak bermain dengan selamat
                                    </li>
                                    <li>
                                        <b>Persekitaran Nyaman</b> – Dikelilingi oleh alam semula jadi untuk pengalaman yang lebih tenang
                                    </li>
                                </ul>
                            </p>
                        </div>
                    </div>
                </div>

                <div class="col-lg-12 col-sm-12 col-xs-12 facility">
                    <div class="facility-item">
                        <div class="heading text-uppercase">Jualan Vendor</div>
                    </div>
                </div>

                <div class="col-lg-6 col-sm-12 col-xs-12 facility">
                    <div class="facility-item">
                        <div class="img owl-single">
                            <img src="~/images/vendor/vendor-1.jpeg" alt="Hotel">
                            <img src="~/images/vendor/vendor-2.jpeg" alt="Hotel">
                            <img src="~/images/vendor/vendor-3.jpeg" alt="Hotel">
                            <img src="~/images/vendor/vendor-4.jpeg" alt="Hotel">
                        </div>
                    </div>
                </div>

                <div class="col-lg-6 col-sm-12 col-xs-12 facility">
                    <div class="facility-item">
                        <div class="text">
                            <p class="desc">
                                <ul class="custom-bullet">
                                    <li>
                                        <b>Nikmati 6 Tapak Terbaik!</b> &#128205; Dibuka setiap <b>Jumaat, Sabtu &amp; Ahad</b> serta sepanjang <b>cuti sekolah!</b>
                                    </li>
                                    <li>
                                        <b>Sesi Fleksibel!</b> Pilih antara <b>pagi (8 AM - 1 PM) atau malam (6 PM - 11 PM)</b> untuk pengalaman terbaik.
                                    </li>
                                    <li>
                                        <b>Jangan Lepaskan Peluang!</b> Tempah tapak anda sekarang dengan kami.
                                    </li>
                                </ul>
                            </p>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </section>
</div>