@using Softinn.EntityModels.ViewModel
@using EmbunLuxuryVillas.Helpers

@{
    ViewBag.MetaTitle = $"Package - {ViewBag.ViewModel.Hotel.DisplayName}";
    List<TourPackageViewModel> tourPackages = ViewBag.ViewModel.TourPackages;
}

<section class="section-sub-banner bg-4">
    <div class="awe-overlay"></div>
    <div class="sub-banner">
        <div class="container">
            <div class="text text-center">
                <h2>Packages</h2>
            </div>
        </div>
    </div>
</section>

<section class="section-promotion">
    <div class="container">
        @if (tourPackages.Any())
        {
            <div class="row">
                @foreach (var tourpackage in tourPackages)
                {
                    <div class="col-md-4">
                        <div class="cms-promotion promotion-box">
                            @if (tourpackage.Photos.Any())
                            {
                                <div class="img">
                                    <img src="@BvHelper.GetImageLinkFromStorage(tourpackage.Photos.FirstOrDefault().URLStorage)" />
                                </div>
                            }
                            <div class="title-wrapper">
                                <div class="title">
                                    <h2>@tourpackage.Name</h2>
                                    <a href="/TourPackages/Detail/@tourpackage.Name.ToSeoFriendly()" class="awe-btn awe-btn-13">View Details</a>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </div>
        }
    </div>
</section>

@section css{
    <link href="~/css/promotion.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css">
}

@section scripts{
    <script src="~/Scripts/promotion.js"></script>
}